@import "../../../../styles/globals.scss";
header {
    width: 100%;
    height: 12rem;
    box-shadow: 0px 3px 6px #00000029;
    .disabled {
            display: none !important;
        }
    
    .enabled {
        display: flex;
    }
    .modalContainer{
        z-index: 1;
        display: flex;
        top: -1rem;
        ul{
            background-color: #ffffff;
            border-radius: 1rem;
            min-width: 280px;
            padding: 1rem;
            margin-right: 10rem;
            font-size: 1.8rem;
            font-weight: 600;
            padding: 4rem 4rem 2rem;
            li{
                margin-bottom: 2rem;
                display: flex;
                justify-content: center;
                a{
                    &:visited{
                        color: rgb(51, 51, 51);
                    }
                }
                hr{
                    width: 100%;
                        height: 2px;
                        background-color: var(--purple-2);
                        margin-top: 0rem;
                        margin-bottom: 2rem;
                        border: none;
                        border-radius: 25px;
                        color: rgb(51, 51, 51);
                    }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid var(--purple-2);
                    border-radius: 1rem;
                    height: 5rem;
                    width: 7rem;
                    padding-right: 0.4rem;
                    border-radius: 25px;
                    min-width: 120px;
                    height: 50px;
                    transition: all 0.2s;
                    background-color: var(--white-1);
                    box-shadow: rgb(0 0 0 / 25%) 0px 0px 6.36364px;
                    color: var(--purple-2);
                    &:hover {
                        background-color: var(--purple-2);
                        color: var(--white-1);
                    }
                    span{
                        font-weight: 700;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
    #loggedModal{
        display: flex;
        justify-content: flex-end;
    }
    #header-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .logo {
            width: 20%;
            display: flex;
            justify-content: center;
            img#logo {
                align-items: center;
                width: 80%;
            }
        }
        .menu-icon{
            display: none;
            width: 5rem;
            height: 5rem;
        }
        .menu-icon.active{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sections-header {
            display: flex;
            justify-content: center;
            width: 35%;
            nav {
                height: 100%;
                ul {
                    display: flex;
                    align-items: center;
                    gap: 4.5rem;
                    font-family: "mavenpro-semibold";
                    li {
                        a {
                            font-size: 1.95rem;
                            color: var(--blue-1);
                            transition: all 0.2s;
                            &:hover {
                                color: var(--purple-2);
                            }
                        }
                    }
                }
            }
        }
        .header-buttons {
            width: 25%;
            display: flex;
            justify-content: flex-start;
            nav {
                height: 100%;
                ul {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    li a {
                        font-family: "mavenpro-semibold";
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid var(--blue-2);
                        border-radius: 1.2rem;
                        height: 5rem;
                        width: 14rem;
                        transition: all 0.2s;
                        background-color: var(--blue-2);
                        color: #ffffff;
                        font-size: 1.8rem;
                        &:hover {
                            border-color: var(--purple-2);
                            background-color: var(--purple-2);
                        }
                    }
                    #userLoggedLogo{
                        color: white;
                        height: 50px;
                        width: 50px;
                    }
                    li:nth-child(2) a {
                        color: var(--purple-2);
                        background-color: var(--white-1);
                        font-size: 1.8rem;
                        &:hover {
                            border-color: var(--purple-2);
                        }
                    }
                    li:nth-child(3) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid var(--blue-2);
                        border-radius: 1rem;
                        height: 5rem;
                        width: 7rem;
                        padding-right: 0.4rem;
                        transition: all 0.2s;
                        background-color: var(--blue-2);

                        &:hover {
                            background-color: var(--purple-2);
                            border-color: var(--purple-2);
                        }
                    }
                }
            }
        }
    }
    @media screen and(max-width: $extra-large) {
        #header-content {
            .logo {
                img#logo {
                    width: 80%;
                }
            }
            .sections-header {
                nav {
                    ul {
                        li {
                            a {
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
            .header-buttons {
                nav {
                    ul {
                        li {
                            a {
                                font-size: 1.7rem;
                                height: 4rem;
                                width: 12rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and(max-width: $large) {
        #header-content {
            justify-content: center;
            .logo {
                img#logo {
                    width: 70%;
                }
            }
            .sections-header {
                nav {
                    ul {
                        li {
                            a {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
            .header-buttons {
                width: 20%;
                nav {
                    ul {
                        li {
                            a {
                                font-size: 1.4rem;
                                height: 3rem;
                                width: 11rem;
                            }
                        }
                        li:nth-child(2) {
                            a {
                                font-size: 1.4rem;
                                height: 3rem;
                                width: 11rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and(max-width: $desktop-small) {
        #header-content {
            width: 80%;
            margin: 0 auto;
            justify-content: space-between;
            .logo {
                width: 40%;
                img#logo {
                   width: 100%;
                }
            }
            .menu-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                #menu{
                    color: var(--purple-2);
                }
            }
            .sections-header {
                display: none;
            }
            .header-buttons {
                display: none;
            }
        }
    }

    @media screen and(max-width: $medium-4) {
        #header-content {
            width: 80%;
            margin: 0 auto;
            justify-content: space-between;
            .logo {
                width: 60%;
                img#logo {
                   width: 100%;
                }
            }
        }
    }
}
