.swiper {
    display: flex;
    justify-content: center;
    width: 90%; 
    padding: 0% 10%;
    margin: 0% 5%;
    .swiper-slide {
        display: flex;
        justify-content: center;
    }
    .swiper-button-prev {
        color: gray;
    }
    .swiper-button-next {
        color: gray;
    }
    .swiper-pagination-bullet-active {
        background-color: gray;
    }
}
