#video-vidrelo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 10% auto;
    .video-title{
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        h3 {
            font-family: "mavenpro-semibold";
            font-size: 4.5rem;
            text-align: center;
            color: var(--gray-1);
            span {
    
                color: var(--blue-2);
            }
        }
    }
    .video-content{
        width: 80%;
        margin: 0% 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .video{
            width: 80%;
            border-radius: 26px;
            align-items: center;
            box-shadow: 7px 10px 6px #00000059;
        }
    }
}