@import "../../../../styles/globals.scss";
.header {
    min-height: 70px;
    max-height: 80px;
    height: 13%;
    width: 100%;
    background-color: var(--purple-2);
    display: flex;
    justify-content: space-around;

    .div-logo {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: start;
        a{
            img {
                width: 13rem;
                margin-left: 2rem;
            }
        }

    }
    .div-button {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: end;


        a {
            margin-right: 3rem;
            border: 2px solid var(--white-1);
            background-color: var(--purple-2);
            color: var(--white-1);
            padding: 1rem 2rem;
            border-radius: 20px;
            transition: all 0.4s;
            font-weight: 600;
            font-size: 1.8rem;
            &:hover {
                background-color: var(--white-1);
                color: var(--purple-2);
            }
        }
    }
}

//responsive part for the arrow button to come off
@media (min-width: $medium-medium){//850px
    .header{
        .div-arrow{
            .link-arrow{
                display: none;
            }
    
        }

    }
}

@media (max-width: $medium-medium){//850px
    .header{

            justify-content: space-evenly;
            .div-arrow{
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: start;

                .link-arrow{
                    margin-left: 3rem;
                    color:var(--white-1);
                    #icon{
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .div-logo {
                width: 30%;
                justify-content: start;
                a{

                    img {
                        text-align: center;
                    }
                }

            }
    
            .div-button {
                width: 30%;
            }
        }
    
}

//Responsive Part
@media (max-width: $medium-2) {
    .header {
        .div-arrow{
            .link-arrow{
                color: var(--white-1);
                justify-content: center;
            }
        }

        .div-logo {
            justify-content: center;
        }
        .div-button {
            a{
                display: none;
            }
        }
    }
}

//Responsive Part DeskTop
@media (min-height: $medium) {
    @media (min-width: 1000px) {
        .header {
            min-height: 70px;
            max-height: 80px;
        }
    }
}

@media (min-width: $large) {//1280px
    .header {
        min-height: 80px;
        max-height: 85px;
        .div-logo {
            a{
                img {
                    width: 15rem;
                    margin-left: 2rem;
                }
            }

        }

    }
}
