.card-feedback {
    width: 31%;
    height: 45rem;
    background: var(--whte-1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000059;
    border: 3px solid #291868;
    border-radius: 10px;
    .card-client-content {
        height: 100%;
        margin: 0 auto;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        h4 {
            font-family: "mavenpro-bold";
            color: var(--purple-1);
            text-align: center;
            font-size: 2.4rem;
        }
        span {
            font-family: "mavenpro-semibold";
            color: var(--blue-1);
            text-align: center;
            font-size: 2.2rem;
        }
        p {
            font-family: "mavenpro-regular";
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
        }
    }
}
