@import "../../../../styles/globals.scss";

*{
    font-family: "mavenpro-regular";
        -webkit-touch-callout: none;  
        -webkit-user-select: none;    
        -khtml-user-select: none;   
        -moz-user-select: none;      
        -ms-user-select: none;       
        user-select: none;     
    
}
.main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 88vh;
    font-family: "mavenpro-regular";
    margin: 3rem auto;
    
    .arrow-card{
        width: 20%;

        .link-arrow{
            display: flex;
            justify-content: center;
            color: var(--white-1);
            text-align: center;

            #icon{
                width: 30px;
                height: 30px;
            }
    }
    }

// parte forms card
.card-card-form{
    width: 45%;
    display: flex;
    justify-content: center;
    .form-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-1);
    border-radius: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    // parte width e height do forms
    //45 ou 40
    width: 45rem;
    height: 84vh;
    min-width: 350px;
    max-width: 500px;
    min-height: 400px;
    max-height: 420px;
    

        h2{
            margin-top: 5%;
            font-size: 1.8rem;
        }
        .form{
            padding: 0.5rem 1.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            .input-texts{
                width: 98%;
                margin-top: 3.5%;
                margin-bottom: 1%;

            }

            .btn-forms{
                margin-top: 5%;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                }
            }
            .informations-main{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 1.8rem;

                a{
                    color: var(--purple-2) ;
                    font-weight: 600;
                    font-size: 1.3rem;
                    cursor: pointer;
                }

                .space-between{
                    margin-top: 1.6rem;
                    background-color: var(--purple-2);
                    width:4rem;
                    height: 0.2rem;
                    border-radius: 5rem;
                }

                .share-main{

                    margin-top: 1.6rem;
                    //width: 100%;

                    p{
                        font-size:c1rem;
                        font-weight: bold;
                    }

                    .img-share{
                        margin-top: 1.2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        button {
                            background-color: var(--white-1);
                            border: none;
                            width: 3rem;
                            height: 3rem;
                            border-radius: 50%;
                            box-shadow: 2px 1.7px 8px rgba(107, 107, 107, 0.297);
                            cursor: pointer;
                            transition: all .4s;

                            &:hover{//rgba(73, 73, 73, 0.529)
                                box-shadow: 1.8px 1.5px 4px rgba(73, 73, 73, 0.529);
                                //transition: all .4s;
                            }
                        }
                    }
                }
            }
        }
    }
    .space-card{
        width: 20%;
    }
}


//responsive part for buttons
        @media (max-width: $medium-2){//600px

            .main{
                .arrow-card{
                    display: none;
                }
            .btn-forms{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    width: 100%;
                
                                #btn-In{
                                    margin: 0.08rem;
                                    max-width: none;
                                    width: 100% !important;
                                }
                                #sign-In{
                                    margin: 0.08rem;
                                    max-width: none;
                                    width: 100% !important;
                                }
         }
          .space-card{
             display: none;
        }
    }
}
                    
//responsive parts for cellphones
        @media (max-width: $small-2)  { // 340px
            .main{
                .card-card-form{
                    
                .form-card{
                    min-width: 285px !important;
                    max-width: 300px;
                    h2{
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }

        @media (max-width: $small-medium){ // 380px
                .main{
                    .card-card-form{
                        .form-card{
                            min-width: 325px;
                            max-width: 350px;
                
                        }
                    }
                }
       
    }

        @media (max-width: $small)  { // 425px
            .main{
                .card-card-form{
                .form-card{
                    min-height: 420px;
                    max-height: 430px;
            }
        }
        }
        @media(min-height: 700px){
            .main{
            .card-card-form{
            .form-card{
                margin-top: 3rem;
                min-height: 440px;
                max-height: 445px;
    
            }
        }
    }
        }
        
    }

// respponsive parts for the arrow
        @media(max-width: 780px){
            .main{
                .arrow-card{
                    .link-arrow{
                        justify-content: start;
                        margin-left: 3rem;

                    }
                }
            }
    }

    @media(max-width: 700px){
        .main{
            .arrow-card{
                .link-arrow{
                    margin-left: 2rem;

                }
            }
        }
}

    
//responsive parts for big screens
        @media (min-width: $large)  { // 1280px

        @media(min-height: 800px) {
        .main{
            .card-card-form{
            .form-card{
                //margin-top: 4rem;
                height: 87vh;
                min-height: 480px;
                max-height: 485px;
                min-width: 600px;

                h2{
                    margin-top: 6%;
                    font-size: 2.1rem;
                }
                .form{
        
                    .informations-main{
                        margin-top: 2rem;
                    }
                    .share-main{
    
                            button {
                                width: 3.1rem;
                                height: 3.1rem;
                            }
                        }
                    }
            }
        }
        }
    }
    } 
// extra-large 1536
        @media (min-width: $extra-large){ // 1536px
        .main{
            .card-card-form{
            .form-card{
                //margin-top: 4rem;
                height: 87vh;
                min-height: 580px;
                min-width: 700px;

                h2{
                    margin-top: 6%;
                    font-size: 2.2rem;
                }

                .form{

                    .input-texts{
                        width: 95%;
                        margin-top: 3.4%;
                    }
                    .informations-main{
                        margin-top: 4rem;

                        a{
                            font-size: 1.5rem;
                        }
        
                        .space-between{
                            margin-top: 2.5rem;
                            width:4.3rem;
                        }
        
                        .share-main{
        
                            margin-top: 2.5rem;
        
                            p{
                                font-size:1.3rem;
                            }
        
                            .img-share{
                                margin-top: 2rem;
        
                                button {
                                    width: 3.2rem;
                                    height: 3.2rem;
                                }
                            }
                        }
                    }
                }
            }
            }
        }
    
    }  
 // extra extra large
        @media (min-width: $extra-large-2){ // 1700px
    .main{
        .card-card-form{
        .form-card{
            border-radius: 25px;
            //margin-top: 4rem;
            min-height: 600px;
            min-width: 750px;

            h2{
                margin-top: 6%;
                font-size: 2.3rem;
            }

            .form{
                .informations-main{
                    margin-top: 3.5rem;

                    a{
                        font-size: 1.8rem;
                    }
    
                    .space-between{
                        margin-top: 2.5rem;
                        width:4.3rem;
                    }
    
                    .share-main{
    
                        margin-top: 2.5rem;
    
                        p{
                            font-size:1.4rem;
                        }
    
                        .img-share{
                            margin-top: 1.5rem;
    
                            button {
                                width: 3.2rem;
                                height: 3.2rem;
                            }
                        }
                    }
                }
            }
        }
        }
    }

    // padding for big heights
    @media(min-height: 1000px){
        .form-card{
            margin-top: 10rem;
        }
    }

}