@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

// .container-productdetail {
//   background-color: white;
//   font-family: 'Maven Pro', sans-serif;
// }




//Info

//Imagem Background
.img_elo {
  display: block;
  min-height: 100%;
  background-image: url(../../../../assets/images/bg/bgelo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  
}

.question_info{
  margin-top: 4.8rem;
}

// Responsivo

@media (max-width: 900px) {
  .container_products {
    display: flex;
    flex-direction: column;
    .products_body {
      padding-top: 10%;
      padding-left: 11%;
    }
  }
}
